<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Books</h1>
	<h5 th:inline="text">Logged in as [[${#httpServletRequest.remoteUser}]]</h5>
    <table class="table table-striped">
		<tr>
		    <th>Title</th>
		    <th>Author</th>
		    <th>ISBN</th>
		    <th>Year</th>
		    <th>Price</th>
		    <th>Category</th>
		    <th></th>
		    <th></th>
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.Title}"></td>
    		<td th:text="${book.Author}"></td>
    		<td th:text="${book.isbn}"></td>
    		<td th:text="${book.year}"></td>
    		<td th:text="${book.price}"></td>
    		<td th:text="${book.category.name}"></td>
    		<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a></td>
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>	
    	</tr>
     </table>
     <a href="/add" class="btn btn-success">Add a book</a>
     <form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
</body>
</html>